
@{
    ViewData["Title"] = "CheckoutComplete";
}
<h2>Замовлення оформлено!</h2>

<p>Дякуємо за ваше замовлення. Ми зв'яжемося з вами протягом 1-2 годин.</p>

<br />
<p>
    Бажаєте замовити ще?
    <a href="/">Тисніть сюди</a>
</p>
<p>Або,</p>
<p>
    Перегляньте своє замовлення!
    <a href="/order/myOrder">Тисніть сюди</a>
</p>
