<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Привіт, @(User.Identity.Name ?? "Любителю шузів")!
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-action="login" asp-controller="account" class="dropdown-item">Увійти</a>
        <a asp-action="register" asp-controller="account" class="dropdown-item">Реєстрація</a>
    }
    else
    {
        <a asp-action="myOrder" asp-controller="order" class="dropdown-item">Мої замовлення</a>
        <form method="post" asp-action="logout" asp-controller="account" class="no-padding-margin dropdown-item">
            <button class="btn dropdown-item btn-no-effect">Вийти</button>
        </form>

        if (User.IsInRole("Admin"))
        {

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="AllOrders" asp-controller="admin">Керувати замовленнями</a>
            <a class="dropdown-item" asp-action="ManageShoes" asp-controller="admin">Керувати товарами</a>
        }
    }
</div>