

<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Категорії
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">   
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Повсякденне">Повсякденне</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Спортивне">Спортивне</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Класичне">Класичне</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Для хайкінгу">Для хайкінгу</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Дитяче">Дитяче</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Пантолети">Пантолети</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Футбольне">Футбольне</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Розкішне">Розкішне</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Ортопедичне">Ортопедичне</a>

    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="">Усе взуття</a>
</div>
