
@{
    ViewData["Title"] = "Contact Us";
}
<h2>Про Yulia's Shoes WebStore</h2>

<p>Yulia's Shoes WebStore це глобальна платформа для модної індустрії. Наша мета - об'єднати на одному майданчику дизайнерів, бутіки та покупців.<br /> 
    Сьогодні наш маркетплейс надає покупцям з 190 країн та регіонів доступ до більш ніж 1300 брендів, бутіків та універмагів по всьому світу.<br /> 
    Yulia's Shoes WebStore - це унікальні можливості для шопінгу та найбільша добірка провідних брендів на одній платформі.</p>

<h2>Зв'яжіться з нами</h2>

<p>Якщо у вас виникли запитання або у вас є пропозиції, не соромтеся зв’язатися з нами. Ми будемо раді Вам допомогти.</p>

<div>
    <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <email address="yulia@shoes.contact" content="Надіслати Email"></email>
</div>
